.form-wrapper {
  display: flex;
  gap: 30px; /* مسافة بين الإدخال والزر */
  max-width: 610px;
  width: 100%;
  margin: 25px auto; /* توسيط + مسافة من الأعلى */
}
/* جعل الإدخال يتمدد */
.form {
  flex: 1;
}
.form input {
  height: 50px;
  font-size: 15px; 
  font-weight: bold;
  padding: 20px;
}
.form input {
  border: 2px solid #ccc; /* حدود ثابتة */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.form input:focus {
  border-color: #A82D49;
  box-shadow: 0 0 5px rgba(168, 45, 73, 0.5);
  outline: none;
}
.formbtn .custom-btn {
  padding: 10px !important;
}